<div
  class="w-auto h-[100vh] bg-neutral-50 block"
  [style.view-transition-name]="'loginTransition'"
>
  <div class="flex flex-wrap gap-8 justify-center h-[100vh] content-center">
    <div
      class="w-full lg:w-[580px] bg-white rounded-xl shadow-lg p-8 transform hover:scale-[1.02] transition-transform"
    >
      <h2 class="text-2xl font-bold mb-6 text-neutral-900">Register</h2>
      <form [formGroup]="form" class="space-y-4" (ngSubmit)="register()">
        <div class="grid grid-cols-2 gap-4">
          <app-text-control
            [control]="form.controls.first"
            placeholder="First Name"
          ></app-text-control>

          <app-text-control
            [control]="form.controls.last"
            placeholder="Last Name"
          ></app-text-control>
        </div>

        <app-text-control
          [control]="form.controls.email"
          placeholder="Email"
        ></app-text-control>
        <app-text-control
          [control]="form.controls.password"
          placeholder="Password"
        ></app-text-control>
        <app-text-control
          [control]="form.controls.confirmPassword"
          placeholder="Confirm Password"
        ></app-text-control>
        <div class="flex items-center space-x-2">
          <input
            type="checkbox"
            class="w-4 h-4 rounded border-neutral-300 text-primary-600 focus:ring-primary-500"
          />
          <span class="text-neutral-700"
            >I agree to the Terms and Conditions</span
          >
        </div>
        <button
          type="submit"
          class="w-full bg-primary-600 text-white py-2 rounded-lg hover:bg-primary-700 active:bg-primary-800 transition-colors"
        >
          Register
        </button>
        <div class="text-center">
          <a
            routerLink="/login"
            class="text-primary-600 hover:text-primary-700 transition-colors"
          >
            Already have an account? Login here
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
